/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,800,900|Roboto+Slab:300,400,500,600,700,800,900|Source+Sans+Pro:300,400,600,700&display=swap");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/utils/_mixins.scss */
.layout {
  table-layout: inherit;
}

/* CSS Document */
/*   @include text-gradient(left, $c-primary, $c-secondary);*/
/* line 1, ../sass/settings/_theme.scss */
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* line 2, ../sass/settings/_custom.scss */
section {
  background-size: contain;
  height: 100%;
  width: 100%;
  position: relative;
  position: absolute;
}
/* line 9, ../sass/settings/_custom.scss */
section.notActive {
  display: none;
}

/* line 16, ../sass/settings/_custom.scss */
embed {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 18, ../sass/settings/_custom.scss */
.trigger {
  position: absolute;
  right: 0;
  top: 5%;
}

/* line 24, ../sass/settings/_custom.scss */
.logo {
  background-image: url("../images/tillid.svg");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  position: fixed;
  top: 30%;
  left: 0;
  transform: translate(0%, -50%);
  z-index: 2;
}

/* line 35, ../sass/settings/_custom.scss */
#trigger {
  position: absolute;
  right: 0;
  top: 70px;
  height: 10px;
  width: 10px;
  background-color: red;
}

/* line 43, ../sass/settings/_custom.scss */
footer {
  height: 80px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}

/* line 1, ../sass/settings/_nav.scss */
.navbar {
  padding: 0.2rem !important;
  background-color: transparent !important;
}
/* line 9, ../sass/settings/_nav.scss */
.navbar .navbar-brand .logoTxt img {
  height: 30px;
  object-fit: contain;
}
/* line 17, ../sass/settings/_nav.scss */
.navbar .navbar-brand .logoBox img {
  height: 50px;
  object-fit: contain;
}
/* line 23, ../sass/settings/_nav.scss */
.navbar .navbar-nav {
  margin-right: 30%;
}
/* line 26, ../sass/settings/_nav.scss */
.navbar .navbar-nav li {
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 50px;
}
/* line 31, ../sass/settings/_nav.scss */
.navbar .navbar-nav li a {
  line-height: 18px;
}
/* line 35, ../sass/settings/_nav.scss */
.navbar .navbar-nav li:not(:first-child).active, .navbar .navbar-nav li:not(:first-child):hover {
  background-color: #06004D;
  cursor: pointer;
}
/* line 39, ../sass/settings/_nav.scss */
.navbar .navbar-nav li:not(:first-child).active a, .navbar .navbar-nav li:not(:first-child):hover a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 46, ../sass/settings/_nav.scss */
.navbar .navbar-nav li a {
  color: #06004D;
  white-space: nowrap;
  font-size: 1.1rem;
  margin: 0 !important;
  padding: 0 !important;
}
/* line 56, ../sass/settings/_nav.scss */
.navbar .dropdown {
  position: inherit;
}
/* line 59, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu {
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #03041d;
  margin: 0;
}
/* line 66, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu .subMenu {
  min-width: 20%;
  max-width: 20%;
  text-decoration: none;
}
/* line 71, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu .subMenu a .menuContainer {
  padding: 15px;
  background-color: #1d1f49;
  height: 100%;
}
/* line 79, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu .subMenu a .menuContainer:hover h1 {
  color: rgba(255, 255, 255, 0.8);
}
/* line 82, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu .subMenu a .menuContainer:hover p {
  color: rgba(255, 255, 255, 0.8);
}
/* line 88, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu .subMenu a .menuContainer h1 {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  margin-bottom: 10px;
}
/* line 97, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu .subMenu a .menuContainer p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  white-space: normal;
}
/* line 101, ../sass/settings/_nav.scss */
.navbar .dropdown .dropdown-menu .subMenu a .menuContainer p:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  /* line 119, ../sass/settings/_nav.scss */
  .navbar-brand {
    height: 80px;
  }

  /* line 123, ../sass/settings/_nav.scss */
  .navbar li:hover {
    background-color: transparent !important;
  }
  /* line 126, ../sass/settings/_nav.scss */
  .navbar li:hover a {
    font-weight: 400 !important;
    color: #06004D !important;
  }
  /* line 134, ../sass/settings/_nav.scss */
  .navbar .dropdown .dropdown-menu {
    background-color: transparent;
  }
  /* line 137, ../sass/settings/_nav.scss */
  .navbar .dropdown .dropdown-menu .mobileMenu {
    padding: 0 !important;
  }
  /* line 140, ../sass/settings/_nav.scss */
  .navbar .dropdown .dropdown-menu .mobileMenu .row {
    flex-direction: column;
  }
  /* line 142, ../sass/settings/_nav.scss */
  .navbar .dropdown .dropdown-menu .mobileMenu .row .subMenu {
    min-width: auto;
    max-width: 100%;
  }
  /* line 145, ../sass/settings/_nav.scss */
  .navbar .dropdown .dropdown-menu .mobileMenu .row .subMenu .menuContainer {
    padding: 5px;
    margin-left: 10px;
    background-color: transparent;
  }
  /* line 149, ../sass/settings/_nav.scss */
  .navbar .dropdown .dropdown-menu .mobileMenu .row .subMenu .menuContainer h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    text-transform: inherit;
    color: #06004D;
  }
  /* line 157, ../sass/settings/_nav.scss */
  .navbar .dropdown .dropdown-menu .mobileMenu .row .subMenu .menuContainer p {
    display: none;
  }

  /* line 169, ../sass/settings/_nav.scss */
  .navbar-toggle {
    margin-top: 25px;
  }
}
/* line 1, ../sass/settings/_loader.scss */
#loader {
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* line 12, ../sass/settings/_loader.scss */
#loader .circle {
  height: 25px;
  width: 25px;
  border-radius: 500px;
  background-color: #06004D;
}
/* line 20, ../sass/settings/_loader.scss */
#loader .loadingText {
  padding-top: 10px;
  font-size: 1.3rem;
  color: #06004D;
  display: flex;
  flex-direction: row;
}

/* line 2, ../sass/pages/_home.scss */
#home .clip-svg {
  clip-path: url(#myClip);
}
/* line 5, ../sass/pages/_home.scss */
#home .svgHomeLeft {
  margin: 5px 0 0 5px;
  fill: #e8e8fc;
}
/* line 9, ../sass/pages/_home.scss */
#home .svgHomeRight {
  position: absolute;
  right: 0;
  fill: #e8cce8;
}
/* line 14, ../sass/pages/_home.scss */
#home .contentContaner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
/* line 20, ../sass/pages/_home.scss */
#home .contentContaner .testimonialFixed {
  position: absolute;
  bottom: 80px;
  width: 86%;
  justify-content: left;
  display: flex;
  flex: 1;
  z-index: 10;
}
/* line 29, ../sass/pages/_home.scss */
#home .contentContaner .testimonialFixed .testimo {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 15px;
  background-color: rgba(221, 221, 230, 0.9);
  margin: 10px;
}
/* line 38, ../sass/pages/_home.scss */
#home .contentContaner .testimonialFixed .testimo .titleHead {
  position: absolute;
  top: -30px;
  font-size: 1.2rem;
  font-style: italic;
  color: #525071;
}
/* line 47, ../sass/pages/_home.scss */
#home .contentContaner .testimonialFixed .testimo h1 {
  font-style: italic;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 500;
  color: #544967;
}
/* line 54, ../sass/pages/_home.scss */
#home .contentContaner .testimonialFixed .testimo h1 span {
  font-size: 0.9rem;
  display: block;
  padding-top: 5px;
}
/* line 61, ../sass/pages/_home.scss */
#home .contentContaner .testimonialFixed .testimo h3 {
  color: #544967;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 20px;
}
/* line 71, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer {
  height: 100%;
  width: 86%;
  position: absolute;
}
/* line 78, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .content {
  position: absolute;
  left: 20px;
  top: 15%;
  width: 50%;
}
/* line 84, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .content .maskBox {
  position: relative;
  overflow: hidden;
}
/* line 87, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .content .maskBox h1 {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #06004D;
  transform: translate(0, 100%);
}
/* line 97, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .content h2 {
  font-size: 2rem;
  margin-top: 15px;
  line-height: 35px;
  color: #06004D;
  font-weight: 100;
  transform: translate(0, 100%);
}
/* line 107, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial {
  position: absolute;
  left: 37%;
  bottom: 0;
  transform: translate(-35%, -50%);
  width: 75%;
  background-color: #d9d9f1;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
}
/* line 122, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial .titleHead {
  position: absolute;
  top: -30px;
  font-size: 1.2rem;
  font-style: italic;
  color: #8c79ad;
}
/* line 130, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial .testiMask {
  overflow: hidden;
  width: 100%;
  min-height: 50px;
  position: relative;
}
/* line 138, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial .testiMask h1 {
  font-style: italic;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 500;
  color: #544967;
  padding-bottom: 10px;
  margin: 0;
  position: absolute;
  margin-bottom: 5px;
  padding-left: 5px;
}
/* line 152, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial .testiMask h1 span {
  font-size: 0.9rem;
  display: block;
  padding-top: 5px;
}
/* line 159, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial .testiMask h3 {
  color: #544967;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 20px;
  padding-left: 5px;
  margin: 0;
  position: absolute;
  margin-top: 5px;
}
/* line 173, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial .testiMask2 {
  display: flex;
  min-height: 90px;
  align-items: center;
}
/* line 180, ../sass/pages/_home.scss */
#home .contentContaner .leftContainer .testimonial .dividBar {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 189, ../sass/pages/_home.scss */
#home .contentContaner .rightContainer {
  position: absolute;
  height: 100%;
  left: 60%;
  right: 0;
}
/* line 194, ../sass/pages/_home.scss */
#home .contentContaner .rightContainer .rightBox {
  position: absolute;
  height: 70%;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}
/* line 201, ../sass/pages/_home.scss */
#home .contentContaner .rightContainer .rightBox img {
  position: absolute;
  z-index: 5;
  height: 100%;
}
/* line 208, ../sass/pages/_home.scss */
#home .contentContaner .rightContainer #svgPathBlueRight {
  fill: #06004D;
}
/* line 211, ../sass/pages/_home.scss */
#home .contentContaner .rightContainer .dots {
  position: absolute;
  left: -50px;
  top: -40px;
  fill: rgba(6, 0, 77, 0.6);
  width: 100%;
  height: 100%;
}
/* line 219, ../sass/pages/_home.scss */
#home .contentContaner .rightContainer .dots #trackTop1 {
  fill: red;
}

/* line 4, ../sass/pages/_aboutus.scss */
#aboutus .leftContainer {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  left: 90px;
}
/* line 13, ../sass/pages/_aboutus.scss */
#aboutus .leftContainer .whyTillid {
  width: 60%;
  position: absolute;
  top: 25%;
}
/* line 18, ../sass/pages/_aboutus.scss */
#aboutus .leftContainer .whyTillid h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Roboto Slab';
}
/* line 24, ../sass/pages/_aboutus.scss */
#aboutus .leftContainer .whyTillid p {
  line-height: 26px;
  font-size: 1.1rem;
  margin-top: 20px;
}
/* line 33, ../sass/pages/_aboutus.scss */
#aboutus .rightContainer {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
}
/* line 42, ../sass/pages/_aboutus.scss */
#aboutus .rightContainer .rightColorBox {
  height: 50%;
  width: 80%;
  background-image: url(../images/dot2.png);
}
/* line 49, ../sass/pages/_aboutus.scss */
#aboutus .rightContainer .imageBox {
  height: 60%;
  width: 40%;
  position: absolute;
  right: 10%;
  top: 20%;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position-x: 35%;
}
/* line 59, ../sass/pages/_aboutus.scss */
#aboutus .rightContainer .vision {
  max-width: 55%;
  padding: 20px;
  top: 28%;
  position: absolute;
  left: -17%;
  border-radius: 10px;
  background-color: #dfffec;
}
/* line 60, ../sass/pages/_aboutus.scss */
#aboutus .rightContainer .vision h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto Slab';
}
/* line 74, ../sass/pages/_aboutus.scss */
#aboutus .rightContainer .mision {
  max-width: 45%;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffdeff;
  position: absolute;
  left: 0;
  bottom: 22%;
}
/* line 75, ../sass/pages/_aboutus.scss */
#aboutus .rightContainer .mision h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto Slab';
}

/* line 1, ../sass/pages/_skills.scss */
#skills {
  overflow: hidden;
}
/* line 4, ../sass/pages/_skills.scss */
#skills .bgContainer {
  height: 100vh;
  width: 100vw;
}
/* line 8, ../sass/pages/_skills.scss */
#skills .bgContainer .bgSkill {
  height: 100vh;
  width: 100vw;
  background-color: #F3F3F3;
  z-index: 1;
}
/* line 19, ../sass/pages/_skills.scss */
#skills .barDivided {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  z-index: 2;
  height: 80%;
}
/* line 28, ../sass/pages/_skills.scss */
#skills .skillsContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
/* line 40, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillLeftContainer {
  width: 35%;
  height: 100px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}
/* line 51, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillLeftContainer .titleContainer {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
/* line 61, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillLeftContainer .titleContainer .title {
  display: flex;
  height: 100px;
  width: 100%;
  opacity: 0.1;
  justify-content: center;
  align-items: center;
}
/* line 62, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillLeftContainer .titleContainer .title:first-child {
  opacity: 1;
}
/* line 65, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillLeftContainer .titleContainer .title:first-child h1 {
  font-size: 2rem;
  font-family: 'Roboto Slab', 'sans sarif';
}
/* line 80, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillLeftContainer .titleContainer .title h1 {
  font-size: 1.5rem;
  font-family: 'Roboto Slab', 'sans sarif';
}
/* line 93, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer {
  width: 65%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  top: 0;
}
/* line 102, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 20px;
}
/* line 113, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
/* line 120, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul.secondCol {
  transform: translate(0px, -1470%);
}
/* line 124, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul.fourthCol {
  transform: translate(0px, -1430%);
}
/* line 131, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li {
  position: relative;
  margin: 10px;
  width: 100%;
  min-height: 45%;
  height: 100%;
  border-radius: 15px;
  background-color: #ccc;
  background-size: cover;
}
/* line 140, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li h1 {
  padding: 25px;
  color: #FFFFFF;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
/* line 145, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li h1.miniBox {
  padding: 20px;
}
/* line 150, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li p {
  position: absolute;
  color: #FFFFFF;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 15px;
  padding: 25px;
  -webkit-box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
}
/* line 163, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li p.miniBox {
  top: 100px;
  padding: 25px;
  border-radius: 20px 20px 22px 22px;
}
/* line 170, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg1 {
  background-image: url(../images/services/tile1.png);
}
/* line 172, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg1 p {
  background-color: rgba(17, 6, 71, 0.8);
}
/* line 177, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg2 {
  background-image: url(../images/services/tile2.png);
}
/* line 179, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg2 p {
  background-color: rgba(61, 81, 52, 0.8);
}
/* line 185, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg3 {
  background-image: url(../images/services/tile3.png);
}
/* line 187, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg3 p {
  background-color: rgba(97, 0, 14, 0.8);
}
/* line 193, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg4 {
  background-image: url(../images/services/tile4.png);
}
/* line 195, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg4 p {
  background-color: rgba(29, 48, 52, 0.8);
}
/* line 202, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg5 {
  background-image: url(../images/services/tile5.png);
}
/* line 204, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg5 p {
  background-color: rgba(58, 16, 77, 0.8);
}
/* line 209, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg6 {
  background-image: url(../images/services/tile6.png);
}
/* line 211, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg6 p {
  background-color: rgba(61, 29, 0, 0.8);
}
/* line 216, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg7 {
  background-image: url(../images/services/tile7.png);
}
/* line 218, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg7 p {
  background-color: rgba(10, 53, 61, 0.8);
}
/* line 223, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg8 {
  background-image: url(../images/services/tile8.png);
}
/* line 225, ../sass/pages/_skills.scss */
#skills .skillsContainer .skillRightContainer .skillBox ul li.bg8 p {
  background-color: rgba(73, 31, 22, 0.8);
}

/* line 3, ../sass/pages/_contacts.scss */
#contacts .contactleft {
  position: absolute;
  right: 40%;
  height: 100%;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  z-index: 3;
}
/* line 14, ../sass/pages/_contacts.scss */
#contacts .contactleft p {
  line-height: 30px;
  font-size: 1.3rem;
  font-weight: 100;
}
/* line 19, ../sass/pages/_contacts.scss */
#contacts .contactleft h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto Slab';
  color: #06004D;
}
/* line 25, ../sass/pages/_contacts.scss */
#contacts .contactleft .mailId {
  display: flex;
  margin-top: 10px;
}
/* line 30, ../sass/pages/_contacts.scss */
#contacts .contactleft .mailId img {
  height: 12px;
  object-fit: contain;
}
/* line 36, ../sass/pages/_contacts.scss */
#contacts .contactleft .mailId .mailIdText {
  line-height: 10px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  font-size: 1.2rem;
}
/* line 45, ../sass/pages/_contacts.scss */
#contacts .contactRight {
  position: absolute;
  right: 0;
  height: 100%;
  left: 60%;
  display: flex;
  align-items: center;
  z-index: 1;
}
/* line 54, ../sass/pages/_contacts.scss */
#contacts .contactRight .socialBox {
  position: absolute;
  left: 0;
  margin-top: 5%;
  width: 70%;
  height: 75%;
}
/* line 61, ../sass/pages/_contacts.scss */
#contacts .contactRight .socialBox h1 {
  font-family: 'Roboto Slab','sans-sarif';
  font-size: 3rem;
  color: #06004D;
  position: absolute;
  left: -60px;
  margin: 0;
  top: 56px;
  font-weight: 600;
  z-index: 2;
}
/* line 72, ../sass/pages/_contacts.scss */
#contacts .contactRight .socialBox .dots5 {
  position: absolute;
  left: -60px;
  top: 0px;
  height: 100%;
  width: 237px;
  fill: rgba(6, 0, 77, 0.6);
  z-index: 1;
}
/* line 81, ../sass/pages/_contacts.scss */
#contacts .contactRight .socialBox .socialIcon {
  position: absolute;
  right: 8%;
  top: 10px;
  padding: 0px;
}
/* line 87, ../sass/pages/_contacts.scss */
#contacts .contactRight .socialBox .socialIcon img {
  width: 30px;
  margin-left: 10px;
  height: 30px;
  object-fit: contain;
}

/* line 3, ../sass/pages/_core.scss */
#core .coreLeft {
  position: absolute;
  left: 0;
  right: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* line 10, ../sass/pages/_core.scss */
#core .coreLeft ul {
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-top: 40px;
  z-index: 1;
  width: 50%;
}
/* line 18, ../sass/pages/_core.scss */
#core .coreLeft ul li {
  font-family: 'Roboto slab','sans-sarif';
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  cursor: pointer;
}
/* line 26, ../sass/pages/_core.scss */
#core .coreLeft ul li.active {
  margin-bottom: 150px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
}
/* line 35, ../sass/pages/_core.scss */
#core .coreLeft .dots6 {
  position: absolute;
  left: 30%;
  height: 50%;
  top: 35%;
  fill: rgba(6, 0, 77, 0.3);
}
/* line 44, ../sass/pages/_core.scss */
#core .coreRight {
  position: absolute;
  left: 25%;
  right: 0;
  height: 100%;
}
/* line 49, ../sass/pages/_core.scss */
#core .coreRight .coreContent {
  padding: 0 100px;
}
/* line 52, ../sass/pages/_core.scss */
#core .coreRight .coreContent h1 {
  font-family: 'Roboto Slab','sans-sarif';
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #06004D;
}
/* line 59, ../sass/pages/_core.scss */
#core .coreRight .coreContent p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 25px;
  color: #000000;
}
/* line 65, ../sass/pages/_core.scss */
#core .coreRight .coreContent .list {
  margin-top: 20px;
  width: 100%;
}
/* line 68, ../sass/pages/_core.scss */
#core .coreRight .coreContent .list ul {
  display: flex;
}
/* line 72, ../sass/pages/_core.scss */
#core .coreRight .coreContent .list ul li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
/* line 77, ../sass/pages/_core.scss */
#core .coreRight .coreContent .list ul li h2 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 1.1rem;
}
/* line 83, ../sass/pages/_core.scss */
#core .coreRight .coreContent .list ul li h6 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 1rem;
  font-style: italic;
}
/* line 89, ../sass/pages/_core.scss */
#core .coreRight .coreContent .list ul li .bottomLine {
  width: 30px;
  height: 2px;
  border-radius: 5px;
  position: absolute;
}
/* line 97, ../sass/pages/_core.scss */
#core .coreRight .coreContent .list ul li img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
/* line 109, ../sass/pages/_core.scss */
#core .coreRight .cloudCore {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: #F8F1F2;
  flex-direction: column;
}
/* line 122, ../sass/pages/_core.scss */
#core .coreRight .sharepointCore {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: #E3F5E5;
  flex-direction: column;
}
/* line 133, ../sass/pages/_core.scss */
#core .coreRight .dynamicsCore {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: #F8F1FF;
  flex-direction: column;
}
/* line 144, ../sass/pages/_core.scss */
#core .coreRight .biCore {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: #F3F2E3;
  flex-direction: column;
}
/* line 155, ../sass/pages/_core.scss */
#core .coreRight .uiuxCore {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: #E4E2F2;
  flex-direction: column;
}
/* line 166, ../sass/pages/_core.scss */
#core .coreRight .mobileCore {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: #F8F1FF;
  flex-direction: column;
}
/* line 177, ../sass/pages/_core.scss */
#core .coreRight .caseStudies {
  height: 30%;
  position: relative;
  margin-top: 50px;
}
/* line 181, ../sass/pages/_core.scss */
#core .coreRight .caseStudies .arrow {
  position: absolute;
  right: 40px;
  display: none;
}
/* line 185, ../sass/pages/_core.scss */
#core .coreRight .caseStudies .arrow img {
  padding: 10px;
}
/* line 191, ../sass/pages/_core.scss */
#core .coreRight .caseStudies .caseContainer {
  flex-direction: row;
  display: none;
}
/* line 195, ../sass/pages/_core.scss */
#core .coreRight .caseStudies .caseContainer.active {
  display: flex;
}
/* line 198, ../sass/pages/_core.scss */
#core .coreRight .caseStudies .caseContainer .case {
  padding: 0 40px 0 0;
  line-height: 20px;
}

/* line 1, ../sass/pages/responsive.scss */
.navbar .navbar-nav li:first-child:not(.active) img {
  filter: grayscale(100%);
  opacity: 0.5;
}

/* line 6, ../sass/pages/responsive.scss */
.lock-scroll {
  overflow: hidden;
  transition: all ease 0.5s;
  padding-right: 17px;
}

/* line 12, ../sass/pages/responsive.scss */
.hide-mobile {
  display: block;
}

/* line 16, ../sass/pages/responsive.scss */
.hide-desktop {
  display: none;
}

/* line 20, ../sass/pages/responsive.scss */
.menu-close {
  display: none;
}

/* line 24, ../sass/pages/responsive.scss */
.menu-overlay.show {
  opacity: 0;
  pointer-events: none;
}

/* line 29, ../sass/pages/responsive.scss */
.section1 {
  overflow: hidden;
}

@media all and (-ms-high-contrast: none) {
  /* line 36, ../sass/pages/responsive.scss */
  .leftContainer, .testimonialFixed {
    left: 100px;
  }

  /* line 40, ../sass/pages/responsive.scss */
  #contacts .contactRight {
    margin-top: 6%;
    align-items: flex-start;
  }

  /* line 45, ../sass/pages/responsive.scss */
  #core .coreLeft ul {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 375px) {
  /* line 52, ../sass/pages/responsive.scss */
  body {
    display: none;
  }
}
@media (max-width: 1023px) {
  /* line 59, ../sass/pages/responsive.scss */
  html, body {
    font-size: 13px;
  }

  /* line 63, ../sass/pages/responsive.scss */
  section {
    margin-top: 80px;
    height: calc(100% - 80px);
  }

  /* line 68, ../sass/pages/responsive.scss */
  .section1 {
    overflow: auto;
  }

  /* line 72, ../sass/pages/responsive.scss */
  section.section1 {
    margin-top: 65px;
    height: calc(100% - 65px);
  }

  /* line 77, ../sass/pages/responsive.scss */
  .hide-mobile {
    display: none;
  }

  /* line 81, ../sass/pages/responsive.scss */
  .hide-desktop {
    display: block;
  }

  /* line 85, ../sass/pages/responsive.scss */
  .menu-overlay {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all ease 1s;
  }

  /* line 97, ../sass/pages/responsive.scss */
  .menu-overlay.show {
    position: fixed;
    z-index: 99999999;
    pointer-events: auto;
    opacity: 1;
  }

  /* line 104, ../sass/pages/responsive.scss */
  .menu-close {
    display: block;
    float: right;
    right: 0;
    top: 0;
    height: 47px;
    width: 47px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* line 123, ../sass/pages/responsive.scss */
  .show .menu-close {
    -webkit-animation: spin 1s linear;
    -moz-animation: spin 1s linear;
    animation: spin 1s linear;
  }

  /* line 129, ../sass/pages/responsive.scss */
  .menu-close:hover {
    opacity: 0.2;
  }

  /* line 133, ../sass/pages/responsive.scss */
  .navbar .navbar-nav li.active {
    background-color: rgba(44, 72, 136, 0.61) !important;
  }

  /* line 137, ../sass/pages/responsive.scss */
  .navbar .navbar-nav li:not(.active):hover {
    background-color: rgba(84, 79, 79, 0.77) !important;
  }

  /* line 141, ../sass/pages/responsive.scss */
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light {
    background-color: #FFF !important;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.35);
    z-index: 9999999;
    padding: 2px 0 0 0 !important;
  }
  /* line 147, ../sass/pages/responsive.scss */
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light ul {
    margin: 0px;
    width: 100%;
  }
  /* line 151, ../sass/pages/responsive.scss */
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light ul li {
    display: block;
    padding: 0px !important;
    border-radius: 0px;
    margin: 0;
  }
  /* line 157, ../sass/pages/responsive.scss */
  nav.navbar.fixed-top.navbar-expand-lg.navbar-light ul li a {
    display: block;
    padding: 15px 15px !important;
    font-size: 1.3rem;
    font-weight: 400 !important;
    text-transform: uppercase;
    color: #FFF !important;
  }

  /* line 182, ../sass/pages/responsive.scss */
  .navbar-collapse.collapse {
    transition: all ease 0.5s;
    display: block !important;
    background: rgba(0, 0, 0, 0.93);
    width: 250px;
    height: 100%;
    position: fixed;
    right: -600px;
    top: 0;
    bottom: 0;
    z-index: 999999999;
  }

  /* line 195, ../sass/pages/responsive.scss */
  .show .navbar-collapse.collapse {
    right: 0;
  }

  /* line 199, ../sass/pages/responsive.scss */
  .navbar-light .navbar-toggler {
    margin-right: 15px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }

  /* line 211, ../sass/pages/responsive.scss */
  .navbar-toggler:focus {
    outline: none;
  }

  /* line 215, ../sass/pages/responsive.scss */
  .navbar-brand {
    height: 60px;
    padding-left: 5px;
  }

  /* line 220, ../sass/pages/responsive.scss */
  .logo {
    display: none;
  }

  /* line 224, ../sass/pages/responsive.scss */
  #svgHomeLeft {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 0 !important;
    left: 0%;
  }

  /* line 232, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content {
    position: absolute;
    left: 0px;
    top: 0;
    height: 250px;
    padding: 15px;
    width: 100%;
    z-index: 9999;
  }

  /* line 242, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer {
    position: relative;
    min-height: 300px;
    width: 100%;
  }

  /* line 248, ../sass/pages/responsive.scss */
  #home .contentContaner {
    position: relative;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
  }

  /* line 255, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content .maskBox h1 {
    font-size: 2.1rem;
  }

  /* line 259, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content .maskBox h2 {
    line-height: 35px;
    font-size: 1.7rem;
  }

  /* line 266, ../sass/pages/responsive.scss */
  #home .contentContaner .testimonialFixed {
    width: 100%;
    bottom: 30px;
    position: relative;
  }
  /* line 270, ../sass/pages/responsive.scss */
  #home .contentContaner .testimonialFixed .testimo {
    width: 100%;
  }

  /* line 277, ../sass/pages/responsive.scss */
  #aboutus .leftContainer {
    margin-bottom: 20px;
  }

  /* line 281, ../sass/pages/responsive.scss */
  #aboutus .leftContainer .whyTillid {
    padding: 15px;
    width: 100%;
    position: relative;
    top: inherit;
  }

  /* line 288, ../sass/pages/responsive.scss */
  #home .contentContaner .rightContainer {
    display: none;
  }

  /* line 292, ../sass/pages/responsive.scss */
  #aboutus .leftContainer, #aboutus .rightContainer {
    width: 100%;
    position: relative;
    height: auto;
    align-items: flex-start;
    left: 0;
  }

  /* line 300, ../sass/pages/responsive.scss */
  #aboutus .rightContainer {
    width: 100%;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  /* line 309, ../sass/pages/responsive.scss */
  #aboutus .rightContainer .vision, #aboutus .rightContainer .mision {
    position: relative;
    left: 0;
    width: 80%;
    max-width: 80%;
    margin-bottom: 50px;
    top: auto;
  }

  /* line 318, ../sass/pages/responsive.scss */
  #aboutus .rightContainer .vision {
    margin-left: 20px;
    margin-right: auto;
  }

  /* line 323, ../sass/pages/responsive.scss */
  #aboutus .rightContainer .mision {
    margin-left: auto;
    margin-right: 20px;
  }

  /* line 328, ../sass/pages/responsive.scss */
  #aboutus .rightContainer .rightColorBox {
    position: absolute;
    height: 100%;
    left: 10%;
  }

  /* line 334, ../sass/pages/responsive.scss */
  #aboutus .rightContainer .imageBox {
    display: none;
  }

  /* line 338, ../sass/pages/responsive.scss */
  #core .coreLeft ul {
    display: flex;
    width: 100%;
    position: relative;
    margin: 0px;
    left: 0px;
    z-index: 9999;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  /* line 349, ../sass/pages/responsive.scss */
  #core .coreLeft ul li {
    padding: 0 10px;
    margin: 5px 5px;
  }

  /* line 356, ../sass/pages/responsive.scss */
  #core .coreRight {
    left: 0;
    position: relative;
  }

  /* line 361, ../sass/pages/responsive.scss */
  #core .coreRight .cloudCore, #core .coreRight .sharepointCore, #core .coreRight .dynamicsCore, #core .coreRight .biCore, #core .coreRight .uiuxCore, #core .coreRight .mobileCore {
    justify-content: flex-start;
  }

  /* line 365, ../sass/pages/responsive.scss */
  .coreContent.active > h1 {
    margin-top: 15px;
    padding: 0 15px;
  }

  /* line 370, ../sass/pages/responsive.scss */
  #core .coreRight .cloudCore,
  #core .coreRight .sharepointCore,
  #core .coreRight .dynamicsCore,
  #core .coreRight .biCore,
  #core .coreRight .uiuxCore,
  #core .coreRight .mobileCore {
    justify-content: flex-start;
  }

  /* line 379, ../sass/pages/responsive.scss */
  #core .coreRight .cloudCore > div {
    background-color: #F8F1F2;
  }

  /* line 383, ../sass/pages/responsive.scss */
  #core .coreRight .sharepointCore > div {
    background-color: #E3F5E5;
  }

  /* line 387, ../sass/pages/responsive.scss */
  #core .coreRight .dynamicsCore > div {
    background-color: #F8F1FF;
  }

  /* line 391, ../sass/pages/responsive.scss */
  #core .coreRight .biCore > div {
    background-color: #F3F2E3;
  }

  /* line 395, ../sass/pages/responsive.scss */
  #core .coreRight .uiuxCore > div {
    background-color: #E4E2F2;
  }

  /* line 399, ../sass/pages/responsive.scss */
  #core .coreRight .mobileCore > div {
    background-color: #F8F1FF;
  }

  /* line 403, ../sass/pages/responsive.scss */
  #core .coreRight .caseStudies .caseContainer .case {
    line-height: 25px;
  }

  /* line 407, ../sass/pages/responsive.scss */
  .coreContent.active .content, .coreContent.active .list, .coreContent.active .caseStudies {
    padding: 0 15px;
  }

  /* line 411, ../sass/pages/responsive.scss */
  .coreContent.active .caseStudies .case {
    padding: 0px !important;
  }

  /* line 415, ../sass/pages/responsive.scss */
  #core .coreRight .coreContent {
    padding: 15px 15px;
    margin-top: 15px;
  }

  /* line 420, ../sass/pages/responsive.scss */
  #core .coreContent {
    opacity: 0 !important;
  }

  /* line 424, ../sass/pages/responsive.scss */
  #core .coreContent.active {
    opacity: 1 !important;
    padding: 0px;
  }

  /* line 429, ../sass/pages/responsive.scss */
  #core .coreLeft {
    position: relative;
    left: 5%;
    align-items: flex-start;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  /* line 439, ../sass/pages/responsive.scss */
  #core .coreLeft .dots6 {
    left: -10px;
    top: -40px;
    display: none;
  }

  /* line 445, ../sass/pages/responsive.scss */
  #core .coreRight .caseStudies .caseContainer.active {
    flex-direction: column;
  }

  /* line 449, ../sass/pages/responsive.scss */
  #core .coreRight .caseStudies .caseContainer .case {
    margin-bottom: 15px;
  }

  /* line 453, ../sass/pages/responsive.scss */
  #core .coreRight .coreContent .list ul {
    flex-direction: column;
  }
  /* line 456, ../sass/pages/responsive.scss */
  #core .coreRight .coreContent .list ul li {
    margin-bottom: 5px;
  }

  /* line 462, ../sass/pages/responsive.scss */
  #core .coreRight #mobile .list ul, #core .coreRight #uiux .list ul {
    display: flex;
    flex-direction: row !important;
  }

  /* line 467, ../sass/pages/responsive.scss */
  #core .coreRight #mobile .list ul li, #core .coreRight #uiux .list ul li {
    text-align: center;
  }

  /* line 472, ../sass/pages/responsive.scss */
  #core .coreRight #uiux .list ul li {
    max-width: 33%;
    width: 33%;
    flex-basis: auto;
    margin-bottom: 30px;
  }

  /* line 479, ../sass/pages/responsive.scss */
  #core .coreRight #uiux .list ul {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* line 486, ../sass/pages/responsive.scss */
  #core .coreRight .caseStudies {
    margin-top: 0px;
    height: auto;
    padding-bottom: 30px;
  }

  /* line 492, ../sass/pages/responsive.scss */
  #contacts .contactRight {
    left: 0%;
    height: calc(100% - 80px);
  }

  /* line 497, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox {
    width: 100%;
    height: 100%;
  }

  /* line 502, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox h1 {
    top: 60px;
    left: 10px;
  }

  /* line 507, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox .dots5 {
    left: -160px;
  }

  /* line 511, ../sass/pages/responsive.scss */
  #contacts .contactleft {
    right: 0%;
    left: 26%;
    margin-top: 0px;
    justify-content: flex-start;
    top: 150px;
    height: auto;
  }

  /* line 520, ../sass/pages/responsive.scss */
  #contacts .contactleft h1 {
    font-size: 1.25rem;
  }

  /* line 524, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox .socialIcon img {
    width: 20px;
    margin-left: 5px;
    height: 20px;
  }

  /* line 530, ../sass/pages/responsive.scss */
  #svgContactBg, #svgContact, #contacts .dots5 {
    min-height: 390px;
  }

  /* line 534, ../sass/pages/responsive.scss */
  footer {
    position: fixed;
    background-color: #FFF;
    height: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  /* line 544, ../sass/pages/responsive.scss */
  html, body {
    font-size: 12px;
  }

  /* line 548, ../sass/pages/responsive.scss */
  #aboutus .leftContainer .whyTillid p {
    line-height: 22px;
  }

  /* line 552, ../sass/pages/responsive.scss */
  #core .coreRight .caseStudies {
    margin-top: 25px;
  }

  /* line 556, ../sass/pages/responsive.scss */
  #core .coreRight .coreContent {
    padding: 0 50px;
  }

  /* line 560, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1281px) and (max-width: 1366px) {
  /* line 567, ../sass/pages/responsive.scss */
  html, body {
    font-size: 13px;
  }

  /* line 571, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content h2 {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  /* line 578, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer {
    position: relative;
    align-items: flex-start;
  }

  /* line 583, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content .maskBox h1 {
    font-size: 2.5rem;
  }

  /* line 587, ../sass/pages/responsive.scss */
  #home .contentContaner .testimonialFixed {
    bottom: 50px;
  }

  /* line 591, ../sass/pages/responsive.scss */
  #aboutus .leftContainer .whyTillid p {
    font-size: 1rem;
  }

  /* line 595, ../sass/pages/responsive.scss */
  #core .coreLeft ul {
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 40px;
  }

  /* line 601, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox h1 {
    top: 61px;
  }

  /* line 605, ../sass/pages/responsive.scss */
  #aboutus .rightContainer .mision {
    bottom: 50px;
  }

  /* line 609, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox .socialIcon img {
    width: 20px;
    margin-left: 5px;
    height: 20px;
  }

  /* line 615, ../sass/pages/responsive.scss */
  footer {
    height: 50px;
  }
}
@media (min-width: 1367px) and (max-width: 1600px) {
  /* line 623, ../sass/pages/responsive.scss */
  html, body {
    font-size: 13px;
  }

  /* line 627, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content .maskBox h1 {
    font-size: 2.6rem;
  }

  /* line 631, ../sass/pages/responsive.scss */
  #home .contentContaner .leftContainer .content h2 {
    font-size: 1.8rem;
  }

  /* line 635, ../sass/pages/responsive.scss */
  #home .contentContaner .testimonialFixed {
    bottom: 60px;
  }

  /* line 639, ../sass/pages/responsive.scss */
  #aboutus .leftContainer .whyTillid p {
    font-size: 1.1rem;
  }

  /* line 645, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox h1 {
    top: 61px;
  }

  /* line 649, ../sass/pages/responsive.scss */
  #contacts .contactRight .socialBox .socialIcon img {
    width: 20px;
    margin-left: 5px;
    height: 20px;
  }

  /* line 655, ../sass/pages/responsive.scss */
  footer {
    height: 60px;
  }
}
