.navbar{
    padding: 0.2rem !important;
    background-color: transparent !important;
    .navbar-brand
    {
        .logoTxt
        {
    
            img{
                height: 30px;
                object-fit: contain;
            }
        }
        .logoBox
        {
    
            img{
                height: 50px;
                object-fit: contain;
            }
        }
    }
    .navbar-nav
    {
        margin-right:30%;
        li 
        {
            padding: 5px 15px;
            margin: 0 5px;
			border-radius:50px ;
			a{
				line-height: 18px;
			}
            &:not(:first-child) {
                &.active, &:hover
                {
                    background-color: $mainColor;
                    cursor: pointer;
                    a{
						color:$white;
						text-decoration: none;
                        // line-height: 18px;
                    }
                }
            }         
            a{
				color:$mainColor;
				white-space: nowrap;
                font-size: 1.1rem;   
                margin: 0 !important;            
                padding: 0 !important;
            }
        }
    }

    .dropdown
	{
		position: inherit;
		.dropdown-menu
		{
			width: 100%;
    		border: 0;
    		border-radius: 0;
    		background-color: $menuColor;
			margin: 0;
            .subMenu{
                min-width: 20%;
                max-width: 20%;
				text-decoration: none;
				a{
					.menuContainer
					{
						padding: 15px;
						background-color:$menuBoxColor ;
						height: 100%;
						&:hover
						{
	
							h1{
								color: rgba($white,0.8);
							}
							p{
								color: rgba($white,0.8);
								
							}
						}
	
						h1{
							font-family: 'Roboto Slab',sans-serif;
							font-size: 3.5rem;
							font-weight: 400;
							text-transform: uppercase;
							color: rgba($white, 0.6);
							font-size: 1.2rem;
							margin-bottom: 10px;
						}
						p{
							color: rgba($white, 0.6);
							line-height: 20px;
							white-space: normal;
							&:hover
							{
								text-decoration: none;
							}
						}
					}
				}
               
               
            }
           
		}

	}
    
}

@media (max-width: 991px) {
    .navbar-brand {
      height: 80px; // Logo will not overhang
    }
    .navbar {
        li:hover 
        {
            background-color: transparent !important;
            a{
                font-weight: 400 !important;
                color: $mainColor !important;
            }
          
        }

        .dropdown{
            .dropdown-menu
            {
                background-color:transparent;
                .mobileMenu{
                    padding:0 !important ;

                    .row{
                        flex-direction: column;
                        .subMenu{
                         min-width: auto;   
                         max-width: 100%;
                         .menuContainer{
                            padding: 5px;
                            margin-left: 10px;
                            background-color:transparent;
                             h1{
                               
                                font-family: 'Source Sans Pro', sans-serif;
                                font-size: 1.1rem;
                                text-transform: inherit;
                                color: $mainColor;

                             }
                            p{
                                display: none;
                            }
                        }
                        }
                    }
                }
      
            }
        }
        
    }
    .navbar-toggle {
      margin-top: 25px; // Adjust toggle position
    }
  }