body, html{
	height: 100%;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	font-size: 14px;	
}


$imgUrl:'../images/tillid.svg';

$mainColor:#06004D;
$textColor:#707070;
$textColor2:#656565;
$textColorService:#37523A;
$textBgColor:#f8f7ef;
$menuColor:#03041d;
$menuBoxColor:#1d1f49;
$white:#FFFFFF;
$black:#000000;


//SVGColor

$homeBgLeft:#e8e8fc;
$homeBgRight:rgba(232,204,232,1);

$whoweare:#F2E5E7;

$skillGreen:#ebf7f0;
$skillPink:#f7ebf7;
$skillBlue:#eeeeff;
$skillGray:#e8e8e8;

$green:#DDFAE9;
$pink:#E8CCE8;
$blue:#D3D3F9;
$gray:#A19CC0;
