#contacts
{
    .contactleft
    {
        position: absolute;
        right: 40%;
        height: 100%;
        left: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        z-index: 3;
        p{
            line-height: 30px;
            font-size: 1.3rem;
            font-weight: 100;
            margin-bottom: 5px;
        }
        h1{
            font-size: 2rem;
    font-weight: 400;
    font-family: 'Roboto Slab';
    color: $mainColor;
        }
        .mailId
        {
            display: flex;
            padding: 0px;
            margin: 0px;
            align-items: center;

            li {
                display: flex;
                align-items: center;

                    img {
                    height: 12px;
                    object-fit: contain;
                    }

                    .mailIdText {
                        line-height: 10px;
                        color:rgba($black,0.6);
                        padding-left: 7px;
                        font-size: 1.2rem;
                }
            }
            
        }
    }
    .contactRight
    {
        position: absolute;
        right: 0;
        height: 100%;
        left: 60%;        
        display: flex;
        align-items: center;
        z-index: 1;
        .socialBox
        {
            position: absolute;
            left: 0;
            margin-top: 5%;
            width: 70%;
            height: 75%;           
            h1{
                font-family: 'Roboto Slab','sans-sarif';
                font-size: 3rem;
                color: #06004D;
                position: absolute;
                left: -60px;
                margin: 0;
                top: 56px;
                font-weight: 600;
                z-index: 2;
            }
            .dots5{
                position: absolute;
                left: -60px;
                top: 0px;
                height: 100%;
                width: 237px;
                fill: rgba(6, 0, 77, 0.6);
                z-index: 1;
            }
            .socialIcon
            {
                position: absolute;
                right: 8%;
                top: 10px;
                padding: 0px;
                img
                {
                    width: 30px;
                    margin-left: 10px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }
    }
}